---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/.github/workflows/"
    schedule:
      interval: "weekly"
    assignees:
      - "jmwample"

  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - "jmwample"
    schedule:
      interval: weekly
    ignore:
      - dependency-name: "nym-*"
    groups:
      patch-updates:
        patterns:
          - "*"
        update-types:
          - "patch"
...
